@model Product
@{
    ViewData["Title"] = "Create";
}
@section styles{
    <link href="~/admin/css/vendor/select2.min.css" rel="stylesheet" />
    <link href="~/admin/css/vendor/select2-bootstrap4.min.css" rel="stylesheet" />
}
<div class="container">
    <!-- Title and Top Buttons Start -->
    <div class="page-title-container">
        <div class="row g-0">
            <!-- Title Start -->
            <div class="col-auto mb-3 mb-md-0 me-auto">
                <div class="w-auto sw-md-30">
                    <a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
                        <i data-cs-icon="chevron-left" data-cs-size="13"></i>
                        <span class="text-small align-middle">Sliders</span>
                    </a>
                    <h1 class="mb-0 pb-0 display-4" id="title">Slider Create</h1>
                </div>
            </div>
            <!-- Title End -->
        </div>
    </div>
    <!-- Title and Top Buttons End -->

    <div class="row">
        <div class="col-xl-12">
            <!-- Product Info Start -->
            <div class="mb-5">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label asp-for="Name" class="form-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span class="text-primary" asp-validation-for="Name"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Price" class="form-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span class="text-primary" asp-validation-for="Price"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Raiting" class="form-label"></label>
                                <input asp-for="Raiting" class="form-control" />
                                <span class="text-primary" asp-validation-for="Raiting"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="StockCount" class="form-label"></label>
                                <input asp-for="StockCount" class="form-control" />
                                <span class="text-primary" asp-validation-for="StockCount"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span class="text-primary" asp-validation-for="Description"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="MainPhoto" class="form-label">Main photo</label>
                                <input asp-for="MainPhoto" accept="image/*" class="form-control" />
                                <span class="text-primary" asp-validation-for="MainPhoto"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Photos" class="form-label"></label>
                                <input asp-for="Photos" accept="image/*" class="form-control" />
                                <span class="text-primary" asp-validation-for="Photos"></span>
                            </div>
                            <div class="mb-3">
                                <select class="select2 form-control js-example-basic-single" multiple name="ColorIds" asp-items="@ViewBag.Colors">
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="select2 form-control js-example-basic-single" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                                    <option disabled selected>CATEGORY</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <input type="submit" class="btn bg-primary" value="Create" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Product Info End -->
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationPartial" />
    <script src="~/admin/js/vendor/select2.full.min.js"></script>
    <script>
        $(".select2").select2();
    </script>
}


